{% extends "main/home.html" %}

{% block title %} Tasks {% endblock %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="list-container">
        <div class="row">
            {% for task in tasks %}
                {% if task.owner == user %}
                    <div class="col-4 d-flex align-items-stretch">
                        <div class="card text-center" style="width: 24rem; height: 12rem">
                            <div class="card-body">
                                <h5 class="card-title {% if task.complete %}completed-task{% endif %}">{{ task.title }}</h5>
                                <h6 class="card-subtitle {% if task.deadline == today %}text-danger{% endif %}">Deadline: {{task.deadline}}</h6>
                                <p class="card-text">{{task.description}}</p>
                                <a class="btn btn-sm btn-info" href="{% url 'update_task' task.id %}">Update</a>
                                <a class="btn btn-sm btn-danger" href="{% url 'delete_task' task.id %}">Delete</a>
                            </div>
                        </div>
                    </div>
                {% endif %} 
            {% endfor %}
        </div>
        
        <button type="button" id="showFormButton" class="btn btn-success">Add New Task</button>

        <form method="POST" class="form-group" id="taskForm" style="display: none;">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success">Create Task</button>
        </form>
    </div>

    <script>
        const showFormButton = document.getElementById("showFormButton");
        const taskForm = document.getElementById("taskForm");

        showFormButton.addEventListener("click", function () {
            if (taskForm.style.display === "none" || taskForm.style.display === "") {
                taskForm.style.display = "block";
                noteForm.scrollIntoView({ behavior: "smooth" });
            } else {
                taskForm.style.display = "none";
            }
        });
    </script>

{% endblock %}