{% load crispy_forms_tags %}

<form method="POST">
    {% csrf_token %}
    {{ form | crispy }}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        // Initially hide the exchange rate field if Turkish Lira is selected
        toggleExchangeRateField();

        // Toggle the exchange rate field when currency type changes
        $('#id_currency_type').change(function() {
            toggleExchangeRateField();
        });

        function toggleExchangeRateField() {
            var currency = $('#id_currency_type').val();
            if (currency === 'TRY') {
                $('#id_exchange_rate').closest('.form-group').hide();
                $('#id_exchange_rate').val('');  // Clear the field when hidden
            } else {
                $('#id_exchange_rate').closest('.form-group').show();
            }
        }
    });
</script>
