{% extends "main/home.html" %}

{% block title %} Budget {% endblock %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="btn-group mt-3 mb-3" role="group" aria-label="Button group">
        <a href="{% url 'currency_line_chart' 'USD' %}" id="usdChartButton" class="btn btn-success mr-3 rounded-sm">USD Chart</a>
        <a href="{% url 'currency_line_chart' 'GLD' %}" id="usdChartButton" class="btn btn-success mr-3 rounded-sm">GLD Chart</a>
        <a href="{% url 'currency_line_chart' 'TRY' %}" id="usdChartButton" class="btn btn-success mr-3 rounded-sm">TRY Chart</a>
    </div>

    <h2 style="text-align:center;">Line Chart for {{ currency_type }}</h2>
    <img src="data:image/png;base64,{{ chart }}" alt="Line Chart">

{% endblock %}